<aside class="sidebar">
        <nav>
          <ul class="links">
            <li><a href=""><a href="/auth/app" class="nav-link current">Клиенты</a></li>
            <li><a href="/auth/compendium" class="nav-link">Справочники</a></li>
            <li><a href="/auth/logout" class="nav-link">Выход</a></li>
          </ul>
        </nav>
      </aside>