<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Оптима-Крым</title>

    <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="tm-main">
        <main>
          {{{body}}}
        </main>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container-fluid -->
   {{!--  <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- https://isotope.metafizzy.co/ -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="slick/slick.min.js"></script>
    <!-- https://kenwheeler.github.io/slick/ -->
    <script src="js/templatemo-script.js"></script> --}}
  </body>
</html>