<div class="tm-section-wrap">
  <section id="home" class="tm-section">
    <h2 class="text-primary">Справочник</h2>
    <hr class="mb-5" />
    <div class="row">
      <div class="row tm-row-home">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a
              href="/auth/compendium/category"
              class="d-block mb-2 tm-text-primary tm-post-link"
            >Добавить категорию</a></li>

        </ul>
      </div>
    </div>
  </section>
</div>