<div class="container_header">
  <header class="page_header">
    <div class="logo">
      <span class="logoname">Оптима-Крым</span>
    </div>

    <div class="profile_block"><span>Авторизация</span></div>
  </header>
  <div class="hr"></div>

  <div class="container_form">
    <form
      id="contact-form"
      action="/login"
      method="POST"
      class="tm-contact-form"
    >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email&nbsp&nbsp &nbsp</span>
        </div>
        <input
          type="Email"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          aria-describedby="basic-addon1"
          name="usernameOrEmail"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Пароль</span>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Введите пароль"
          aria-label="Password"
          aria-describedby="basic-addon1"
          name="password"
        />
      </div>

      <div class="form-btn">

        <button type="submit" class="login-btn">Войти</button>

      </div>
    </form>

  </div>
</div>